.button {
  &:link,
  &:visited {
    margin-top: 48px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2.5rem;
    display: inline-block;
    border-radius: 10rem;
    transition-property: transform;
    transition-duration: 0.17s;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 0.625rem 1.25rem rgba($color-black, 0.17);
    &::after {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.375rem 0.625rem rgba($color-black, 0.17);
  }

  &--white {
    &:link,
    &:visited {
      background-color: $color-white;
      color: $color-grey-dark;
    }

    &::after {
      background-color: $color-white;
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    z-index: -1;
    transition-duration: 0.19s;
  }

  &--animated {
    animation-timing-function: ease-out;
    animation-name: moveInButton;
    animation-duration: 0.4s;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: transform 0.26s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 0.625rem 1.25rem rgba($color-black, 0.17);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.625rem 1.25rem rgba($color-black, 0.17);
    transform: translateY(0);
  }
}
