body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 1.875rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 2.1875rem;

    animation-name: moveInLeft;
    animation-duration: 0.5s;
    /* animation-delay: 0.3s; */
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 1.1rem;

    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
}
